

.rowFirst {
    background-color: midnightblue;
    height: 260px;
    width: 100%;
}

    .rowFirst #firstName{
        color:white;
    }

    .rowFirst #firstSection {
        display: block;
        position: relative;
        left: 50px;
        top: 30px;
    }

    .rowFirst #fistDesc {
        color: white;
        text-justify: distribute-all-lines;
    }

    .rowFirst #enterId {
        float: right;
        border:white solid;
        font-weight:bold;
    }

    .rowFirst #imgFirst {
        width: 100%;
        height: 100%;
        margin-left: 20%;
    }

.leftSide a {
    font-size: 20px;
    color: darkcyan;
    font-weight: bold;
}

.rowSecond{
    margin-top:20px;
}
